server:
  port: ${SERVER_PORT:8080}
  address: 0.0.0.0

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/academia?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true}
    username: ${SPRING_DATASOURCE_USERNAME:sail}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

jwt:
  secret: ${JWT_SECRET:minha-chave-secreta-muito-segura-com-pelo-menos-256-bits-de-tamanho-para-jwt}
  expiration: ${JWT_EXPIRATION:86400000}

abacatepay:
  base-url: ${ABACATEPAY_BASE_URL:https://api.abacatepay.com/v1}
  api-key: ${ABACATEPAY_API_KEY:abc_dev_RtwYxCr1ADruntuDYPqhpdrX}
  webhook-secret: ${ABACATEPAY_WEBHOOK_SECRET:}
  return-url: ${ABACATEPAY_RETURN_URL:https://fitpanelgym-7l6996h43-kairodevs-projects.vercel.app/views/premium/index.html}
  completion-url: ${ABACATEPAY_COMPLETION_URL:https://fitpanelgym-7l6996h43-kairodevs-projects.vercel.app/views/premium/sucesso.html}



